In [40]:
import pandas as pd

data = pd.read_csv('data/gpa_data.csv')
# data.set_index('program_id')['program'].to_dict()
programs = dict(zip(data['program_id'], data['program']))
programs = dict(sorted(programs.items())[:5])
departments = list(programs.values())

In [ ]:
def department_df(data, department, year):
    # Get first or second year courses
    if year == "First" or year == "Second":
        departments_df = data[(data['year'] == year)]
    # Get specialised courses
    else:
        departments_df = data[(data['program'] == department)  & (data['year'] == year)]
    
    return departments_df

In [60]:
years_list(data, "Geomatic", "Third")

,SN,program_id,program,year_id,year,course_id,course_code,course,course_credit,is_compulsory,comment
112,1,4,Geomatic,3,Third,431,MAT 3110,Engineering Mathematics II,NaN,1,NaN
113,2,4,Geomatic,3,Third,432,GEE 3711,Surveying,NaN,1,NaN
114,3,4,Geomatic,3,Third,433,GEE 3622,Principles of Data Acquisition and Processing,NaN,1,NaN
115,4,4,Geomatic,3,Third,434,GEE 3222,Data Representation and Visualizations,NaN,1,NaN
116,5,4,Geomatic,3,Third,435,GEE 3511,Land Management I,NaN,1,NaN
117,6,4,Geomatic,3,Third,436,GEE 3522,Land Management II,NaN,1,NaN
118,7,4,Geomatic,3,Third,437,CEE 3711,"Soil Science, Roads, Hydrology and Civil Engin...",NaN,1,NaN